* {
    margin: 0;
    padding: 0;
    text-decoration:none;
    list-style: none;
    font-family: "open sans", sans-serif;
}

header{
    color: white;
    padding: 20% 6%;
    background: #201f1f;
    border-right: white 3px solid;
    z-index: -1;
    z-index: 100%;
}

header h1{
    padding: 6px;
    font-size: 50px;
    font-family: "Modern";
    font-stretch: normal;
    font-weight: normal;
    border-bottom: white 1px solid;
    border-bottom-width: 1px;
}

header h2{
    text-justify: center;
    font-size: 10px;
    padding: 10%;
}

header img{
    width: 60px;
    padding: 15px ;
    float: inline-end;
}

body{
    display: flex;
    height: 100vh;
    background-color: #201f1f;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* -------------- Video ----------------------*/

.fullscreen{
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullscreen video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* -------------------------------------------*/


/* ------------------- Fuentes ------------------------*/

@font-face{
    font-family:"Modern";
    src: url(../3/fonts/Long_Shot.ttf);
}

/* -------------------------------------------*/

/* ------------------ Navegacion ------------*/
.menu{
    margin-left: auto;
    border-left: white 3px solid;
    background-color: #201f1f;
}

.menu a{
    display: inline-block;
    margin: 30px;
    padding: 10px 60px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200;
    transition: .3s linear;
    position: relative;
}

.menu a:hover{
    color: black;
    top: 0;
    background-color: white;
    transition: .3s linear .3s;
}

/* -----------------------------------------------*/

/* ---------------------   Social Pages  --------------------------*/

.sm{
    margin-top: 40%;
    float: right;
    background: none;
    transform: translate(-110%);

}

.sm a{
    color: white;
    display: inline-block;
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0 12px;
    transition: .4s linear;
    position: relative;

}

.sm a::before, .sm a::after{
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}

.sm a:hover{
    transform: scale(.8);
}

.sm a:hover::before{
    border-right: 4px solid;
    border-left: 4px solid;
    transform: skewX(20deg);
}

.sm a:hover::after{
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
}


/* -----------------------------------------------*/
